@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexColumnStartEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flexRowSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin navigation{
  width: 100%;
  position: fixed;
  height:$nav-height;
}

@mixin navLinks{
  ul {
    display:flex;
  }
  li {
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
  }
  ul li a {
    text-decoration: none;
    color: cc(txt);
  }
  li a.active {
    color:cc(bg);
    border-bottom: 2px solid cc(link);
    font-weight: 300;
  }
  li a:hover {
    cursor: pointer;
    color:cc(link);
  }
}
@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 420px, $upper-range: 900px) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
@mixin dramaShadow{
	box-shadow: 11px 9px 5px 0 rgba(49, 49, 93, 0.1), 17px 17px 0px 0 rgba(0, 0, 0, 0.08);
}
@mixin dramaShadow2{
	box-shadow: 17px 17px 0px 0 rgba(0, 0, 0, 0.08);
}

@mixin scrollbars($size, $border-size, $border-color, $foreground-color, $background-color:$foreground-color) {
  // Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border: $border-size solid $border-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    background-clip: content-box;
  }

  // Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }

  // Firefox
   & {
    scrollbar-width: $size;
    scrollbar-color: $foreground-color $background-color;
   }
}
@mixin formDesign {
  height: 500px;
    width: 100%;
    @include flexColumnCenter;
    input, button {
      border: 2px solid cc(alttxt);
      background: transparent;
      color: cc(alttxt);
      height: 100px;
      width: 100%;
      margin: .5em 1em;
      @include fluid-type(32px, 42px);
      padding: 0 1em;
    }
    button {
      border: 2px solid $a-nother-red;
      transition: all 500ms cb();
      position: relative;
      &:hover {
        color: cc(bg);
        // &:after {
        //   content: '';
        //   background: transparent;
        //   width: 100%;
        //   height: 100%;
        //   display: block;
        //   position: absolute;
        //   left: .3em;
        //   top: .3em;
        //   border: 2px solid cc(alttxt);
        // }
        border: 2px solid cc(alttxt);
        background-color: cc(alttxt);
      }
    }
}